@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  position          : fixed;
  bottom            : 0;
  background        : #000;
  color             : #eee;
  height            : 1.4rem;
  width             : 100%;
  padding           : .2rem;
  text-align        : center;
  font-size         : .8rem;
  z-index           : 999;
}

  footer a:link, footer a:visited {
    text-decoration : none;
    color           : #eee;
    transition      : color 0.5s ease;
  }

  footer a:hover {
    color           : #fc0;
  }

  footer .love {
    color           : #b10;
    font-size       : 1rem;
    vertical-align  : baseline;
  }